.btn{
  background-color: red;
  width: 25px;
  border-radius: 5px;
  align-self: flex-end;
  margin: 5px 5px 0 0;
  text-align: center;
}

.btnColor{
  color: white;
}

.btn:hover{
  color: red;
  background-color: white;
}

.middleDiv{
  display: flex;
  flex-direction: row;
}

.card{
  background-color: rgb(199, 128, 21);
  width: 250px;
  border: 2px solid gray;
  border-radius: 5px;
  height: 350px;
}

.img{
  width: 200px;
  height: auto;
}


