.btn{
  background-color: #115d8c;
  width: 35px;
  height: 35px;
  font-size: 25px;
  border-radius: 10px;
  margin: 3px 10px 0 0;
  position: relative;
  float: right;
}

.btnColor{
  color: #d9d2bf;
}

.btn:hover{
  color: #115d8c;
  background-color: #d9d2bf;
}

.card{
  display: inline-block;
  background-color: #b40808;
  color: #d9d2bf;
  width: 235px;
  height: 340px;
  border-radius: 25px;
  align-items: center;
  box-shadow: 0 5px 15px 5px rgb(0 0 0 / 65%);
  margin: 25px;
}

.middleDiv{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 40px;
}

.img{
  width: 200px;
  height: auto;
  margin: -20px 0 0 0;
}


