#logoHenry {
  width: 10px;
  height: auto;
  margin: 10px 0 0 20px;
  padding: 10px 0 0 0;
}

.container{
  background-color: rgb(59, 56, 56);
  color: white;
  display: flex;
  justify-content:left;
  padding: 5px 0 5px 20px;
  gap: 25px;
}

.navTitulo{
  padding: 10px 0 0 0;
}

.navSearch{
  padding: 15px 0 0 20px;
}