.input {
  background-color: rgb(96, 96, 96);
  color: #b40808;
  height: 25px;
  margin: 0 18px 0 0;
  border-radius: 8px;
}

::placeholder {
  color: #b40808;
}

.boton {
  background: linear-gradient(
    to top,
    rgb(186, 68, 88) 5%,
    rgb(255, 220, 226) 100%
  );
  /* background-color: rgb(255, 226, 231); */
  border: none;
  border-radius: 7px;
  /* cursor: pointer; */
}

.boton:hover {
  background: linear-gradient(
    to bottom,
    rgb(186, 68, 88) 5%,
    rgb(255, 220, 226) 100%
  );
}

.boton:active {
  position: relative;
  top: 1px;
  background: white;
}

.formSearch{
  height: 35px;
}