.btn{
  background-color: rgb(214, 41, 41);
  width: 25px;
  height: 25px;
  border-radius: 7px;
  margin: 5px 5px 0 0;
  align-self: flex-end;
}

.btnColor{
  color: white;
}

.btn:hover{
  color: rgb(214, 41, 41);
  background-color: white;
}

.middleDiv{
  display: flex;
  flex-direction: column;
}

.card{
  background-color: #175187;
  color: #d9d2bf;
  border-radius: 25px;
  box-shadow: 0 5px 15px 5px rgb(0 0 0 / 50%);
  width: 270px;
  height: 370px;
}

.img{
  width: 250px;
  height: auto;
}


